name: Crear APK Vegana Final
on: [push]

jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar Codigo
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Instalar Flet y Dependencias
        run: |
          pip install --upgrade pip
          pip install flet

      - name: Crear requirements.txt (Seguridad)
        run: echo "flet" > requirements.txt

      - name: Fabricar APK
        # Aseguramos que busque 'main.py'
        run: flet build apk --module-name main -vv

      - name: Guardar APK
        uses: actions/upload-artifact@v4
        with:
          name: app-vegana-final
          path: build/apk/
