name: Build APK

on: workflow_dispatch

jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # 1. Instalamos Java (Necesario para Android)
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          
      # 2. Instalamos Flutter (ESTO ARREGLA EL ERROR DE "ANDROID STUDIO")
      # Esta acción configura el entorno de Android automáticamente
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      # 3. Instalamos Python
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      # 4. Instalamos Flet
      - name: Instalar Flet
        run: |
          pip install --upgrade pip
          pip install flet
      
      # 5. Creamos requirements (por seguridad)
      - name: Crear requirements
        run: echo "flet" > requirements.txt
        
      # 6. Construimos la APK
      - name: Construir APK
        run: flet build apk -vv
        
      # 7. Subimos el resultado
      - uses: actions/upload-artifact@v4
        with:
          name: vegan-green-app
          path: build/apk/


