    name: Build APK
    on: workflow_dispatch

    jobs:
      android:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          
          - name: Setup Java
            uses: actions/setup-java@v4
            with:
              distribution: 'temurin'
              java-version: '17'
              
          - name: Setup Python
            uses: actions/setup-python@v5
            with:
              python-version: '3.11'
              
          - name: Install Dependencies
            run: |
              pip install --upgrade pip
              pip install -r requirements.txt
              
          - name: Build APK
            # Comando estándar. Leerá pyproject.toml
            run: flet build apk -vv
            
          - name: Upload APK
            uses: actions/upload-artifact@v4
            with:
              name: vegan-green-apk
              path: build/apk/
    


