name: Construir App

on: [push, workflow_dispatch]

jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      - name: Instalar Flet
        run: |
          pip install --upgrade pip
          pip install flet
          
      - name: LIMPIEZA FORZADA
        # Este paso borra cualquier configuración tuya que pueda dar error
        run: |
          rm -f pyproject.toml
          rm -f requirements.txt
          echo "flet" > requirements.txt

      - name: Verificar Archivos
        run: ls -R

      - name: Fabricar APK
        # Como hemos borrado pyproject.toml en el paso anterior,
        # AHORA SÍ podemos usar este comando completo sin errores.
        run: flet build apk --module-name main --product-name "Vegan Green" --org "com.vegangreen.app" -vv
        
      - name: Subir APK
        uses: actions/upload-artifact@v4
        with:
          name: vegan-green-app
          path: build/apk/
