name: Crear APK
on: [push]

jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar Codigo
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Instalar Flet
        run: |
          pip install --upgrade pip
          pip install flet

      - name: Crear requirements.txt (Automatico)
        run: echo "flet" > requirements.txt

      - name: Fabricar APK
        run: flet build apk --module-name main -vv

      - name: Guardar APK
        uses: actions/upload-artifact@v4
        with:
          name: mi-app-vegana
          path: build/apk/
