name: Construir App

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      - name: Instalar dependencias
        run: |
          pip install --upgrade pip
          pip install flet
          
      - name: Crear requirements
        run: echo "flet" > requirements.txt

      - name: Ver archivos (Diagnostico)
        run: ls -la
        
      - name: Construir APK
        # USAMOS ESTA COMBINACIÓN GANADORA:
        # --module-name main: Para decirle dónde empezar (arregla el error 'not found')
        # El resto (nombre, icono) lo lee de tu pyproject.toml
        run: flet build apk --module-name main -vv
        
      - name: Subir APK
        uses: actions/upload-artifact@v4
        with:
          name: vegan-green-app
          path: build/apk/
